[Unit]
Description=Yuki - USTC Mirror Manager
After=docker.service
Requires=docker.service
PartOf=docker.service
ConditionPathExists=/etc/yuki/daemon.toml

[Service]
Type=exec
User=mirror
ExecStart=/usr/bin/yukid
ExecReload=/usr/bin/yukictl reload
Restart=on-failure
RestartSec=5

[Install]
Alias=yuki.service
WantedBy=multi-user.target
