[Unit]
Description=RESTful API Server for Administering Docker Containers on USTC Mirrors
After=docker.service
Requires=docker.service

[Service]
User=mirror
ExecStart=/usr/local/bin/yukid
Environment="NODE_ENV=dev"

[Install]
WantedBy=multi-user.target
Alias=yukid.service
